################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

bin
obj
.vs/
.suo
.user
.dtbcache.v2
*.pubxml
slnx.sqlite
VSWorkspaceState.json